code {
    color: $s !important;
    padding: 0 !important;
}

.btn-primary {
    color: $w;
    background-color: $primary;
}

.primary-slider {
    .slick-next {
        right: 25px;
    }
    .slick-prev {
        left: 25px;
        z-index: 1;
    }
}

.slider-home {
    &__item {
        height: 640px;
        position: relative;
        display: none;
        &:after {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
            background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
        }
        &.slick-active {
            .slider-home {
                &__info {
                    -webkit-animation: fadein 4s;
                    /* Safari, Chrome and Opera > 12.1 */
                    -moz-animation: fadein 4s;
                    /* Firefox < 16 */
                    -ms-animation: fadein 4s;
                    /* Internet Explorer */
                    -o-animation: fadein 4s;
                    /* Opera < 12.1 */
                    animation: fadein 4s;
                    opacity: 1;
                }
            }
        }
    }
    &__info {
        position: relative;
        z-index: 3;
        padding-top: 250px;
        opacity: 0;
        color: $w;
        h3 {
            font-size: 36px;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slider-logo {
    padding: 50px 0;
    &__image {
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
}

.page-hero {
    margin-bottom: 30px;
    &__content {
        position: relative;
        padding: 150px 0 100px 0;
        z-index: 4;
        &::after {
            position: absolute;
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: -1;
        }
        &--service {
            padding-top: 200px;
            padding-bottom: 240px;
            &::after {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    &__image {
        margin-bottom: 50px;
    }
    &__title {
        color: $w;
        text-transform: uppercase;
        font-family: $ft;
        margin-bottom: 15px;
    }
    &__info {
        font-family: $fm;
        color: $w;
        font-size: 18px;
        max-width: 650px;
        margin-left: 50px;
    }
}

.section-services {
    margin-bottom: 50px;
    &__title {
        font-size: 36px;
        color: $s;
        font-family: $ft;
    }
    &__desc {
        margin-bottom: 60px;
    }
}

.service {
    &__header {
        margin-bottom: 25px;
    }
    &__section {
        background-color: #fcfcfc;
        padding: 25px 15px 10px 15px;
    }
    &__title {
        font-size: 24px;
        font-family: $ft;
        color: $s;
    }
    .btn-primary {
        color: $w;
        background-color: $p;
    }
}

.section-news {
    padding: 25px 0;
    position: relative;
    background-size: cover !important;
    // z-index: 2;
    &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #6d7172;
        z-index: -1;
    }
    &__title {
        color: $p;
        font-family: $ft;
        font-size: 54px;
    }
    &__left {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        height: 100%;
    }
}

.new-article {
    &__title {
        color: $w;
        font-family: $ft;
        font-size: 24px;
        margin-bottom: 15px;
    }
    &__info {
        color: $w;
        font-size: 15px;
        line-height: 18px;
    }
}

.team {
    margin-bottom: 30px;
    &__title {
        font-size: 28px;
        text-transform: uppercase;
        font-family: $ft;
        color: $s;
    }
    &__job {
        color: $p;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: $fm;
    }
}

.gform_wrapper {
    margin-top: 0 !important;
    &.estimate-form_wrapper {
        .top_label {
            .gfield_error {
                width: 50%;
            }
        }
    }
}

.estimate-form {
    &__email {
        width: 100% !important;
    }
    &__select {
        select {
            height: 31px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .gform_fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -5px !important;
        margin-left: -5px !important;
        li {
            padding-right: 5px;
            padding-left: 5px;
            width: 50%;
            input.medium {
                width: 100%;
                font-family: $ff;
            }
        }
        .gfield_label {
            color: #fff;
            font-family: $ft;
            font-size: 14px;
            margin-bottom: 0px !important;
            .gfield_required {
                color: #fff;
            }
        }
    }
    .gfield_radio {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
    .gform_button {
        border-radius: 20px;
        background-color: $p;
        border-color: $p;
        font-family: $fm;
        color: $w;
        font-size: 16px !important;
        padding: 10px 15px;
    }
    .gform_title {
        margin-top: 0 !important;
        font-family: $ft;
        color: $s;
        font-size: 24px !important;
    }
    .ginput_container {
        .clear-multi {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            .gfield_date_year {
                margin-right: 0;
                input {
                    width: 100% !important;
                }
            }
        }
    }
}

#secondary {
    .container {
        padding: 0;
    }
}

.article-employment {
    &__section {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 24px;
        color: $s;
        font-family: $ft;
    }
    footer {
        margin-bottom: 30px;
    }
    .btn {
        color: $w;
    }
}

.widget {
    &.widget_search {
        margin-bottom: 10px;
        .search-form {
            >label {
                width: 75%;
                .search-field {
                    width: 100%;
                    padding: 0 10px;
                    height: 30px;
                }
            }
            .search-submit {
                background-color: $p;
                color: $w;
                font-family: $fm;
                border-color: $p;
                font-size: 14px;
            }
        }
    }
}

#secondary {
    .cnss-social-icon {
        &.list-social {
            text-align: left !important;
            li {
                a {
                    color: $p !important;
                }
            }
        }
    }
    .menu {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .widget-title {
        font-size: 24px;
    }
}