.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0!important
}

.slick-list:focus {
	outline: 0
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	transform: translate3d(0, 0, 0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block
}

.slick-track:after,
.slick-track:before {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.slick-slide {
	margin-left: auto;
	margin-right: auto
}

.slick-next,
.slick-prev {
	position: absolute;
	display: block;
	height: 40px;
	width: 35px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: 0 0;
	color: transparent;
	top: 50%;
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
	outline: 0;
	background: 0 0;
	color: transparent
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
	opacity: .3
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
	opacity: .3
}

.slick-next:before,
.slick-prev:before {
	font-size: 20px;
	line-height: 1;
	color: #000;
	opacity: .5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-prev {
	left: -45px
}

.slick-prev:before {
	position: absolute;
	left: 0;
	top: 12px;
	font-size: 0;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 10px 7.5px 0;
	border-color: transparent #041e42 transparent transparent;
	opacity: 1
}

.slick-prev:after {
	color: #041e42;
	position: absolute;
	font-size: 12px;
	right: -5px;
	content: "prev";
	text-transform: uppercase;
	transform: rotate(90deg);
	font-family: Raleway-Medium, sans-serif
}

.slick-next {
	right: -25px
}

.slick-next:before {
	position: absolute;
	right: 0;
	top: 12px;
	font-size: 0;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 10px;
	border-color: transparent transparent transparent #041e42;
	opacity: 1
}

.slick-next:after {
	color: #041e42;
	position: absolute;
	left: -7px;
	font-size: 12px;
	content: "next";
	text-transform: uppercase;
	transform: rotate(90deg);
	font-family: Raleway-Medium, sans-serif
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%
}

.slick-dots li {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	padding: 0;
	cursor: pointer
}

.slick-dots li button {
	border: 0;
	border-radius: 50%;
	background: #4e4d4e;
	display: block;
	height: 8px;
	width: 8px;
	outline: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 4px;
	box-sizing: border-box;
	cursor: pointer
}

.slick-dots li button:focus,
.slick-dots li button:hover {
	outline: 0
}

.slick-dots li.slick-active button {
	background-color: #041e42
}

.content-s {
	position: absolute
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../fonts/Raleway-Medium.eot);
	src: url(../fonts/Raleway-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-Medium.woff2) format("woff2"), url(../fonts/Raleway-Medium.woff) format("woff"), url(../fonts/Raleway-Medium.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Raleway-SemiBold;
	src: url(../fonts/Raleway-SemiBold.eot);
	src: url(../fonts/Raleway-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Raleway-SemiBold.woff2) format("woff2"), url(../fonts/Raleway-SemiBold.woff) format("woff"), url(../fonts/Raleway-SemiBold.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Montserrat-Light;
	src: url(../fonts/Montserrat-Light.eot);
	src: url(../fonts/Montserrat-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Light.woff) format("woff"), url(../fonts/Montserrat-Light.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

.primary-slider {
	margin-bottom: 20px
}

.home .entry-content {
	margin: 0
}

.style-input {
	position: relative;
	margin-bottom: 5px
}

.style-input.not-empty label {
	top: -15px;
	font-size: 10px
}

.style-input.not-empty .focus-border {
	width: 100%;
	transition: .4s
}

.style-input label {
	font-size: 14px;
	color: #333;
	font-family: Raleway-Medium, sans-serif;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .25s cubic-bezier(.2, 0, .03, 1);
	pointer-events: none
}

.style-input input,
.style-input textarea {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	width: 100%;
	padding: 10px 15px;
	border-radius: 0;
	border-color: #333
}

.style-input input:focus,
.style-input textarea:focus {
	outline: 0
}

.style-input textarea {
	height: 160px
}

.row-contact p {
	margin-bottom: 0
}

.row-contact br {
	display: none
}

.style-textarea {
	margin-top: 10px;
	margin-bottom: 30px
}

.style-textarea .focus-border {
	top: auto;
	bottom: 5px
}

.focus-border {
	position: absolute;
	top: 42px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #041e42;
	transition: .4s
}

.btn-form {
	text-align: center
}

.btn-form .wpcf7-submit {
	background-color: #041e42;
	border-color: #041e42;
	font-family: Raleway-Medium, sans-serif;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 20px
}

.btn-form .wpcf7-submit:focus {
	outline: 0
}

.style-file {
	margin-top: 20px
}

.style-file>label {
	color: #333;
	font-family: Raleway-Medium, sans-serif
}

.style-file input {
	display: none
}

.chose-file {
	border-radius: 20px;
	background-color: #041e42;
	padding: 10px 15px;
	cursor: pointer;
	color: #fff
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	background-color: #fff;
	z-index: 999
}

.fixed .section-top {
	display: none
}

.fixed .top-header {
	height: 35px
}

.fixed .header-inside {
	min-height: 60px
}

.fixed .main-navigation .nav-primary>li>a {
	padding: 25px 0
}

.logo-self {
	-ms-flex-item-align: center;
	align-self: center
}

.site-logo {
	-ms-flex-item-align: center;
	align-self: center
}

.top-header {
	background-color: #333;
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	-ms-flex-align: center;
	align-items: center
}

.top-header .widget {
	margin-bottom: 0
}

.info-left {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex
}

.info-left li {
	color: #fff;
	font-size: 18px;
	font-family: Montserrat-Light;
	margin-right: 35px;
	position: relative
}

.info-left li a {
	color: #fff
}

.info-left li a:hover {
	text-decoration: none;
	color: #0072ce;
}

.info-left li:after {
	position: relative;
	content: "|";
	padding-left: 35px;
	top: -2px
}

.info-left li:last-child {
	margin-right: 0
}

.info-left li:last-child:after {
	display: none
}

.cnss-social-icon.list-social {
	text-align: right!important
}

.cnss-social-icon.list-social li.cn-fa-icon {
	margin-right: 15px!important;
	position: relative!important;
	display: inline-block
}

.cnss-social-icon.list-social li.cn-fa-icon:after {
	position: relative;
	content: "|";
	display: inline-block!important;
	padding-left: 15px;
	top: -2px;
	color: grey
}

.cnss-social-icon.list-social li.cn-fa-icon:last-child {
	margin-right: 0!important
}

.cnss-social-icon.list-social li.cn-fa-icon:last-child:after {
	display: none!important
}

.cnss-social-icon.list-social li.cn-fa-icon a {
	display: inline-block!important;
	background-color: transparent!important;
	padding: 0!important;
	height: auto!important;
	margin: auto!important
}

.cnss-social-icon.list-social li.cn-fa-icon a:hover {
	background-color: transparent !important;
	color: #0072ce !important;
}

.header-inside {
	background-color: #fff;
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 110px;
	-ms-flex-align: center;
	align-items: center
}

.main-navigation {
	text-align: right
}

.main-navigation .nav-primary {
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.main-navigation .nav-primary li {
	margin-right: 30px
}

.main-navigation .nav-primary li:hover {
	color: #333
}

.main-navigation .nav-primary li a {
	padding: 45px 0;
	color: #333;
	font-family: Raleway-SemiBold;
	font-size: 14px;
	text-transform: uppercase
}

.main-navigation .nav-primary li a:active,
.main-navigation .nav-primary li a:focus,
.main-navigation .nav-primary li a:hover {
	text-decoration: none;
	color: #0072ce;
	outline: none;
}

.main-navigation .nav-primary li.current-menu-item a {
	color: #041e42
}

.main-navigation .nav-primary li:last-child {
	margin-right: 0
}

.main-navigation .nav-primary ul {
	background: #fff;
	border-top: 3px solid #0072ce;
}

.main-navigation .nav-primary ul li {
	margin-right: 0
}

.main-navigation .nav-primary ul li a {
	padding: 10px 10px;
	text-align: left;
	width: 250px
}

.main-navigation .nav-primary li .sub-menu a {
	border: none;
}

.footer-wrapper {
	background-color: #fafafa;
	padding: 40px
}

.footer-wrapper .widget_nav_menu ul {
	padding: 0;
	margin: 0;
	list-style: none
}

.footer-wrapper .widget_nav_menu ul li {
	margin-bottom: 15px
}

.footer-wrapper .widget_nav_menu ul li a {
	font-size: 16px;
	font-family: Raleway-Medium, sans-serif;
	color: #333
}

.footer-wrapper .widget_nav_menu ul li a:hover {
	text-decoration: none;
	color: #041e42
}

.footer-wrapper .widget h4 {
	margin-bottom: 20px;
	font-size: 24px;
	font-family: Raleway-SemiBold;
	color: #333;
	text-transform: uppercase
}

.footer-wrapper .cnss-social-icon.list-social {
	text-align: left!important
}

.info-addres {
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px
}

.info-addres__icon {
	width: 20px
}

.info-addres__icon i {
	color: #041e42;
	font-size: 18px;
	position: relative;
	top: -1px
}

.info-addres__box {
	margin-left: 10px
}

.info-addres__box h6 {
	font-size: 18px;
	font-family: Raleway-SemiBold;
	color: #333
}

.info-addres__box p {
	font-family: Montserrat-Light;
	font-size: 12px;
	margin-bottom: 5px
}

.footer-info {
	background-color: #f2f2f2;
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100px;
	-ms-flex-align: center;
	align-items: center
}

@keyframes appearance2_elems {
	0%,
	100%,
	50% {
		opacity: 0
	}
	45%,
	5% {
		opacity: 1
	}
}

@keyframes appearance3_elems {
	0%,
	100%,
	33% {
		opacity: 0
	}
	2%,
	31% {
		opacity: 1
	}
}

@keyframes appearance4_elems {
	0%,
	100%,
	25% {
		opacity: 0
	}
	1%,
	24% {
		opacity: 1
	}
}

#element__1 {
	position: absolute;
	right: 1%;
	top: 200px;
	opacity: 0;
	z-index: 1;
	transition: 2s all
}

#element__1.inView {
	right: 4%;
	opacity: 1;
	top: 350px;
	animation: animationFrames linear 8s, appearance2_elems linear 20s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%
}

@keyframes animationFrames {
	0%,
	100% {
		transform: translate(0, 0)
	}
	50% {
		transform: translate(0, 50px)
	}
}

#element__2 {
	position: absolute;
	left: 2%;
	top: 700px;
	z-index: 1;
	transition-delay: 10s;
	opacity: 0;
	transition: 2s all ease
}

#element__2.inView {
	top: 650px;
	animation: animationFrames2 linear 8s, appearance2_elems linear 20s;
	animation-delay: 10s;
	animation-iteration-count: infinite;
	transform-origin: 100% 100%
}

@keyframes animationFrames2 {
	0%,
	100% {
		opacity: 1;
		transform: translate(-10px, 0) rotate(-7deg)
	}
	25%,
	75% {
		opacity: 1;
		transform: translate(0, 30px)
	}
	50% {
		opacity: .6;
		transform: translate(10px, 0) rotate(7deg)
	}
}

#element__4 {
	position: absolute;
	opacity: 0;
	right: 1%;
	top: 0
}

#element__4.inView {
	right: 6%;
	animation: appearance3_elems linear 30s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%
}

#element__5 {
	position: absolute;
	opacity: 0;
	bottom: 250px;
	right: 5%
}

#element__5.inView {
	right: 1%;
	animation: appearance3_elems linear 30s;
	animation-delay: 10s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%
}

#element__6 {
	position: absolute;
	opacity: 0;
	left: -199px;
	top: 100px
}

#element__6.inView {
	left: 2%;
	animation: appearance3_elems linear 30s;
	animation-delay: 20s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%
}

code {
	color: #333!important;
	padding: 0!important
}

.btn-primary {
	color: #fff
}

.primary-slider .slick-next {
	right: 25px
}

.primary-slider .slick-prev {
	left: 25px;
	z-index: 1
}

.slider-home__item {
	height: 640px;
	position: relative;
	display: none
}

.slider-home__item:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, .65) 0, transparent 100%)
}

.slider-home__item.slick-active .slider-home__info {
	opacity: 1
}

.slider-home__info {
	position: relative;
	z-index: 3;
	padding-top: 250px;
	opacity: 0;
	color: #fff
}

.slider-home__info h3 {
	font-size: 36px
}

@keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.slider-logo {
	padding: 50px 0
}

.slider-logo__image {
	text-align: center
}

.slider-logo__image img {
	margin: 0 auto
}

.page-hero {
	margin-bottom: 30px
}

.page-hero__content {
	position: relative;
	padding: 150px 0 100px 0;
	z-index: 4
}

.page-hero__content::after {
	position: absolute;
	content: "";
	background-color: rgba(0, 0, 0, .3);
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1
}

.page-hero__content--service {
	padding-top: 200px;
	padding-bottom: 240px
}

.page-hero__content--service::after {
	background-color: rgba(0, 0, 0, .6)
}

.page-hero__image {
	margin-bottom: 50px
}

.page-hero__title {
	color: #fff;
	text-transform: uppercase;
	font-family: Raleway-SemiBold;
	margin-bottom: 15px
}

.page-hero__info {
	font-family: Raleway-Medium, sans-serif;
	color: #fff;
	font-size: 18px;
	max-width: 650px;
	margin-left: 50px
}

.section-services {
	margin-bottom: 50px
}

.section-services__title {
	font-size: 36px;
	color: #333;
	font-family: Raleway-SemiBold
}

.section-services__desc {
	margin-bottom: 60px
}

.service__header {
	margin-bottom: 25px
}

.service__section {
	background-color: #fcfcfc;
	padding: 25px 15px 10px 15px
}

.service__title {
	font-size: 24px;
	font-family: Raleway-SemiBold;
	color: #333
}

.service .btn-primary {
	color: #fff
}

.service .btn-primary:hover {
	background-color: #041e42;
	border-color: #041e42;
}

.section-news {
	padding: 25px 0;
	position: relative;
	background-size: cover!important
}

.section-news:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #6d7172;
	z-index: -1
}

.section-news__title {
	color: #041e42;
	font-family: Raleway-SemiBold;
	font-size: 54px
}

.section-news__left {
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%
}

.new-article__title {
	color: #fff;
	font-family: Raleway-SemiBold;
	font-size: 24px;
	margin-bottom: 15px
}

.new-article__info {
	color: #fff;
	font-size: 15px;
	line-height: 18px
}

.team {
	margin-bottom: 30px
}

.team__title {
	font-size: 28px;
	text-transform: uppercase;
	font-family: Raleway-SemiBold;
	color: #333
}

.team__job {
	color: #041e42;
	margin-bottom: 5px;
	font-size: 18px;
	font-family: Raleway-Medium, sans-serif
}

.gform_wrapper {
	margin-top: 0!important
}

.gform_wrapper.estimate-form_wrapper .top_label .gfield_error {
	width: 50%
}

.top_label select.small .estimate-form__email {
	width: 50%!important
}

.estimate-form__select select {
	height: 31px;
	border-radius: 3px;
	cursor: pointer
}

.estimate-form .gform_fields {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px!important;
	margin-left: -5px!important
}

.estimate-form .gform_fields li {
	padding-right: 5px;
	padding-left: 5px;
	width: 50%
}

.estimate-form .gform_fields li input.medium {
	width: 100%;
	font-family: Montserrat-Light
}

.estimate-form .gform_fields .gfield_label {
	color: #fff;
	font-family: Raleway-SemiBold;
	font-size: 14px;
	margin-bottom: 0!important;
}

.estimate-form .gform_fields .gfield_required {
	color: #fff;
}

.estimate-form .gfield_radio {
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
}

.estimate-form .gform_button {
	border-radius: 20px;
	background-color: #041e42;
	border-color: #041e42;
	font-family: Raleway-Medium, sans-serif;
	color: #fff;
	font-size: 16px!important;
	padding: 10px 15px;
}

.estimate-form .gform_title {
	margin-top: 0!important;
	font-family: Raleway-SemiBold;
	color: #333;
	font-size: 24px!important;
}

.estimate-form .ginput_container .clear-multi {
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex
}

.estimate-form .ginput_container .clear-multi .gfield_date_year {
	margin-right: 0
}

.estimate-form .ginput_container .clear-multi .gfield_date_year input {
	width: 100%!important
}

#secondary .container {
	padding: 0
}

.article-employment__section {
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.article-employment__title {
	font-size: 24px;
	color: #333;
	font-family: Raleway-SemiBold
}

.article-employment footer {
	margin-bottom: 30px
}

.article-employment .btn {
	color: #fff;
	background-color: #0072ce;
	border-color: #0072ce;
}

.article-employment .btn:hover {
	background-color: #041e42;
	border-color: #041e42;
}

.widget.widget_search {
	margin-bottom: 10px
}

.widget.widget_search .search-form>label {
	width: 75%
}

.widget.widget_search .search-form>label .search-field {
	width: 100%;
	padding: 0 10px;
	height: 30px
}

.widget.widget_search .search-form .search-submit {
	background-color: #041e42;
	color: #fff;
	font-family: Raleway-Medium, sans-serif;
	border-color: #041e42;
	font-size: 14px
}

.widget.widget_search .search-form .search-submit:hover {
	background-color: #0072ce;
	border-color: #0072ce;
}

#secondary .cnss-social-icon.list-social {
	text-align: left!important
}

#secondary .cnss-social-icon.list-social li a {
	color: #041e42!important
}

#secondary .menu {
	padding: 0;
	margin: 0;
	list-style: none
}

#secondary .widget-title {
	font-size: 24px
}

#secondary .widget-title {
	font-weight: 700;
	font-family: Raleway-SemiBold;
	color: #333
}

.crm-fom .container-fluid {
	padding: 0
}

.crm-fom .crm-entity-lead .crm-select {
	height: 30px!important
}

.crm-fom .crm-entity-lead .col-sm-4 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 8px
}

.crm-fom .crm-entity-lead .col-sm-8 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 5px
}

.crm-fom .crm-entity-lead .control-label {
	color: #333;
	font-family: Raleway-SemiBold;
	font-size: 12px
}

.crm-fom .crm-entity-lead .form-group {
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0;
	width: 50%
}

.crm-fom .crm-entity-lead .form-group:nth-child(2n) .col-sm-4 {
	padding-right: 0
}

.crm-fom .crm-entity-lead .form-group:nth-child(2n) .col-sm-8 {
	padding-right: 0
}

.crm-fom .crm-entity-lead .form-group:nth-child(7) {
	width: 100%
}

.crm-fom .crm-entity-lead .form-group:nth-child(8) {
	width: 100%
}

.crm-fom .crm-entity-lead .form-group:nth-child(9) {
	margin-top: 5px;
	width: 100%;
	display: -ms-flexbox;
	display: flex
}

.crm-fom .crm-entity-lead .form-group:nth-child(9) .col-sm-4 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.crm-fom .crm-entity-lead .form-group:nth-child(9) .col-sm-8 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.crm-fom .crm-entity-lead .form-group:nth-child(9) .radio {
	float: right;
	margin-right: 15px
}

.crm-fom .crm-entity-lead .form-group:nth-child(11) {
	width: 100%
}

.crm-fom .crm-entity-lead .btn {
	border-radius: 20px;
	background-color: #041e42;
	border-color: #041e42;
	font-family: Raleway-Medium, sans-serif;
	color: #fff;
	font-size: 16px!important;
	padding: 10px 15px
}

.entity-form input[name="entity[address2_city]"],
.entity-form input[name="entity[address2_country]"],
.entity-form input[name="entity[address2_line1]"],
.entity-form input[name="entity[address2_line2]"],
.entity-form input[name="entity[address2_line3]"],
.entity-form input[name="entity[address2_stateorprovince]"],
.entity-form label[for="entity[dmc_leadsource]"],
.entity-form select[name="entity[dmc_leadsource]"],
.entity-form select[name="entity[purchasetimeframe]"] {
	display: none
}

@media (max-width:980px) {
	.main-navigation .menu-toggle {
		background-color: transparent;
		border: none;
		margin-top: -50px;
		float: right;
		display: inline-block;
		position: relative;
		height: 6px
	}
	.main-navigation .menu-toggle:focus {
		outline: 0
	}
	.main-navigation .menu-toggle>* {
		height: 4px;
		width: 25px;
		background-color: #000;
		position: absolute;
		top: 0;
		transition: transform .3s ease-out
	}
	.main-navigation .menu-toggle span {
		transform: translate(-50%, -50%) translate(0, 8px)
	}
	.main-navigation .menu-toggle span:first-child {
		transform: translate(-50%, -50%) translate(0, -8px)
	}
	.main-navigation .menu-toggle span:last-child {
		transform: translate(-50%, -50%);
		transition: transform .15s ease-out
	}
	.main-navigation .menu-primary-menu-container {
		display: none
	}
	.main-navigation .nav-primary {
		display: none
	}
	.main-navigation .nav-primary li {
		display: -ms-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		margin-right: 0;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.main-navigation .nav-primary li a {
		text-align: left;
		padding: 10px 0
	}
	.main-navigation ul ul {
		left: 0;
		position: relative;
		box-shadow: none
	}
	.main-navigation ul ul a {
		width: 100%;
		text-align: left
	}
	.toggled .nav-primary {
		display: -ms-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column
	}
	.toggled .menu-menu-1-container {
		transform: none
	}
	.site-logo {
		padding: 20px 0
	}
	.menu-menu-1-container {
		position: relative;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0 0;
		transform: translate(-100%, 0);
		transition: transform .5s cubic-bezier(.77, .2, .05, 1)
	}
	.info-left li {
		margin-right: 15px
	}
	.info-left li::after {
		padding-left: 15px
	}
	.slider-home__item {
		height: 440px
	}
	.slider-home__info {
		padding-top: 150px
	}
	.page-hero__content--service {
		padding: 60px 0 50px 0
	}
	.page-hero__image {
		margin-bottom: 25px
	}
	.page-hero__title {
		font-size: 24px
	}
}

@media (max-width:768px) {
	.info-left {
		-ms-flex-direction: column;
		flex-direction: column
	}
	.info-left li {
		margin-right: 0;
		font-size: 16px
	}
	.info-left li::after {
		display: none
	}
	.slider-home__item {
		height: 340px
	}
	.slider-home__info {
		padding-top: 100px
	}
	.slider-home__info h3 {
		font-size: 28px
	}
	.page-hero__title {
		font-size: 20px
	}
}

@media (max-width:540px) {
	.slider-home__item {
		height: 250px
	}
	.slider-home__info {
		padding-top: 70px
	}
	.slider-home__info h3 {
		font-size: 22px
	}
}

html {
	font-size: 15px
}


/*# sourceMappingURL=map/style.css.map */


/*Styles 1/21/20*/

.top-header {
	min-height: 50px;
}

.top-header .info-left a {
	font-size: 14px;
}

.header-inside {
	min-height: auto;
	border-bottom: 1px solid #333333;
}

.header-inside .site-logo {
	padding: 10px 0;
}

.header-inside img {
	height: 42px;
	width: auto;
}

.main-navigation .menu-toggle {
	margin-top: -30px;
}

@media screen and (min-width: 769px) {
	.top-header {
		min-height: auto;
	}
}

@media screen and (min-width: 980px) {
	.top-header .info-left a {
		font-size: 18px;
	}
	.header-inside {
		min-height: 110px;
	}
	.header-inside .site-logo {
		padding: 0 20px;
	}
	.header-inside img {
		height: 84px;
		width: 84px;
	}
	.main-navigation .menu-toggle {
		margin-top: -50px;
	}
}


/*Styles 2/19/20*/

.team__section h4 {
	display: inline-block;
	margin-right: 8px;
}

.team__section a[class$="async-email"] {
	font-size: 20px;
}

.team__section a {
	color: #0072ce;
}


/*Styles 03/09/20*/

h1 {
	font-size: 38px!important;
}

h1,
h2 {
	font-weight: bold!important;
}

body {
	font-style: normal!important;
}

.info-left li:after {
	position: relative;
	content: '';
	padding-left: 35px;
	top: -2px;
}

ul.cnss-social-icon li.cn-fa-email a img {
	display: none!important;
}

ul.cnss-social-icon li.cn-fa-email a:hover img {
	display: none!important;
}

ul.cnss-social-icon li {
	vertical-align: top;
}

ul.cnss-social-icon li.cn-fa-email a {
	color: #808080!important;
}

ul.cnss-social-icon li.cn-fa-email a:hover {
	color: #ffffff!important;
}

ul.cnss-social-icon li.cn-fa-email a:hover:after {
	color: #808080!important;
}

.cn-fa-email a:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f0e0";
}

.cn-fa-email a:after {
	content: "|";
	position: relative;
	top: -2px;
	padding-left: 15px;
	padding-right: 15px;
}


/*Styles 04/17/2020*/

@media screen and (min-width: 980px) {
	.new-article,
	.new-article__section {
		height: 100%;
	}
	.new-article__section {
		position: relative;
	}
	.new-article__section p {
		margin-bottom: 2rem;
	}
	.new-article__section .btn-link {
		position: absolute;
		bottom: 0px;
	}
	.hp-more-articles {
		position: absolute;
		bottom: 0;
	}
	.fixed-content {
		padding-top: 157px;
	}
	.fixed .header-inside {
		min-height: 110px;
	}
	.fixed .top-header {
		min-height: auto;
		height: 50px;
	}
}

@media screen and (min-width: 320px) {
	.bg-cover-img {
		height: 100%;
		background-position: 0 0px !important;
	}
	.new-article__section {
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 980px) {
	.service__section {
		min-height: 360px;
	}
}

@media screen and (min-width: 980px) {
	.service__section {
		min-height: 264px;
	}
}

@media screen and (min-width: 1200px) {
	.service__section {
		min-height: 238px;
	}
}


/* specifically hide post navigation (below content) 
from 
student-moving-services
covid-19
*/

.postid-354 .post-navigation,
.postid-367 .post-navigation {
	display: none;
}


/*****/

.main-navigation .nav-primary .sub-menu li.current-menu-item a {
	border-bottom: none !important;
}


/****** privacy policy cookie bar */

#cookie-law-info-bar {
	padding: 25px 170px 25px 40px;
}

#cookie-law-info-bar .pp-left,
#cookie-law-info-bar .pp-right {
	display: inline-block;
	height: 80px;
}

#cookie-law-info-bar .pp-left {
	text-align: left;
}

#cookie-law-info-bar .pp-right {
	position: absolute;
	top: 25px;
	right: 40px;
	width: 100px;
}

#cookie-law-info-bar .pp-right .cli_action_button {
	color: #fff !important;
	background-color: #071e42 !important;
	border-color: #071e42;
	width: 100px !important;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 20px;
	margin: 0 5px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#cookie-law-info-bar .pp-right #cookie_action_close_header {
	/*     color:#ffffff !important; */
}

@media screen and (max-width: 767px) {
	#cookie-law-info-bar {
		padding: 20px 40px 12px;
	}
	#cookie-law-info-bar .pp-left {
		height: auto;
		font-size: 10px;
	}
	#cookie-law-info-bar .pp-right {
		height: auto;
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		text-align: left;
	}
	#cookie-law-info-bar .pp-right>div {
		display: inline-block;
		margin-top: 6px;
	}
	#cookie-law-info-bar .pp-right>div a {
		font-size: 13px;
	}
}


/**request a quote**/

.quote-container {
	text-align: center;
	width: 100%;
	padding: 50px 0px;
}

.request-quote {
	padding: 15px;
	background-color: #db5046;
	color: #fff;
	text-transform: uppercase;
	font-family: "Raleway-SemiBold";
	margin-bottom: 15px;
}


/** 2020.08.13 **/

.footer-wrapper .cn-fa-email a:before {
	color: #17a2b8;
}

.footer-wrapper .cn-fa-email a:after {
	color: #17a2b8;
}

.footer-wrapper .fa-twitter:hover::before,
.footer-wrapper .fa-facebook:hover::before {
	color: #304469;
}

.footer-wrapper .cn-fa-email a:hover::before {
	color: #304469;
}

.footer-wrapper a {
	color: #17a2b8;
}

.footer-wrapper a:hover {
	color: #304469;
}

.footer-wrapper .fa-clock-o:before,
.footer-wrapper .fa-phone:before,
.footer-wrapper .fa-map-marker:before {
	color: #17a2b8;
}

.footer-wrapper .fa-twitter:before,
.footer-wrapper .fa-facebook:before {
	color: #17a2b8;
}


/** 2020.08.13 **/