//
$fontSize: 16px;
// $lineHeight: 24px;
$fontFamily: 'Montserrat-Light';
$ff: $fontFamily;
$fontFamilyMedium: 'Raleway-Medium',
sans-serif;
$fm: $fontFamilyMedium;
$fontMr: "Raleway-SemiBold";
$ft: $fontMr;
$fontSecondry: "din-2014",
sans-serif;
$fs: $fontSecondry;
$fontProxima: "proxima-nova",
sans-serif;
$fp: $fontProxima;
// $fontTitle: 'Tinos', sans-serif; $ft: $fontTitle;
// $primary: #47d5ff; $p: $primary;
$primary: #0072ce;
$p: $primary;
$secondary: #333333;
$s: $secondary;
$text: #8b8b8b;
$t: $text;
$link: #004080;
$l: $link;
$white: #ffffff;
$w: $white;
$black: #000000;
$b: $black;
$transparent: transparent;
$tr: $transparent;
//
// $thin: 100;
// $extra-light: 200;
// $light: 300;
// $normal: 400;
// $medium: 500;
// $demi-bold: 600;
// $bold: 700;
// $heavy: 800;
// $extra: 900;